{# services/grafana.j2 #}
{%- set ui_port=3000 %}
{%- set canonical_name = 'grafana' %}
  {{ canonical_name }}:
    image: grafana/grafana:latest
    hostname: {{ canonical_name }}
    container_name: {{ canonical_name }}
    privileged: true
    volumes:
      - $PWD/volumes/provisioning:/etc/grafana/provisioning
      - $PWD/volumes/dashboards:/var/lib/grafana/dashboards
    ports:
      - {{ ui_port }}:{{ ui_port }}
