{# services/prometheus.j2 #}

{%- set ui_port=9090 %}
{%- set canonical_name = 'prometheus' %}
  {{ canonical_name }}:
    image: prom/prometheus:latest
    hostname: {{ canonical_name }}
    container_name: {{ canonical_name }}
    privileged: true
    volumes:
      - $PWD/volumes/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - {{ ui_port }}:{{ ui_port }}
