{# services/service.j2 #}
  {% block service_name %}{% endblock %}: 
    image: {% block image_name %}{% endblock %}:{% if 'yb-master' in tag or 'yb-tserver' in tag %}{{ tag }}{% else %}latest{% endif %}
    hostname: {% block host_name %}{% endblock %}
    container_name: {% block container_name %}{% endblock %}
    privileged: true 
    {% block volumes %}{% endblock %}
    {% block ports %}{% endblock %}
    {% block entrypoint %}{% endblock %}
