{# templates/service.template #}

{{ service_name }}:
  image: {{ image_name }}:{{ image_version|default("latest",true) }}
  hostname: {{ service_name }}
  container_name: {{ service_name }}
  privileged: true {% if ports is defined %}
  ports:{% for p in ports %}
    - {% set exposed_p = p + counter %} {{ exposed_p }}:{{ p }} {% endfor %} {% else %} {% endif %}
  entrypoint: {{ entrypoint }} 
